.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: lightcoral;
}
.test-1 {
  background-color: lightblue;
}
/* Background for Sidebar */
/* .css-1mazlfv {
  background-color: blue;
} */